*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100%;
    
        background: #0b0626 ; 
        position: relative; 
    
    overflow: hidden;
    cursor: crosshair;
}

.sail{
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5); 
    animation:animationMove linear forwards;
}

@keyframes animationMove{
    0%{
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100%{
    
            opacity: 0;
            transform: translate(var(--move-x), var(--move-y)) scale(0.5);
        
    }
}

